//  ////////////////////////////////////////////////////////  
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center_h {
    display: flex;
    justify-content: center;
}
.flex-center_v {
    display: flex;
    align-items: center;
}
.flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolute-center_h {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.absolute-center_v {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
//  //////////////////////////////////////////////////////// 